<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CodeCoverage" parallel="false"  verbose="10">
	<listeners>
		<listener class-name="utility.Listeners" />
	</listeners>
	<test name="CodeCoverage">
		<classes>
			<class name="TestSuite.LaunchHomePage">
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->